body {
	background: url(backtree-error.jpg);
}


.error-text-normal {
	font-size: 95px;
	color: red;
	font-family: arial;

}

.error-text-90 {
	font-size: 95px;
	color: red;
	font-family: arial;
	writing-mode: vertical-lr;

}
