body {
	background: url(backtree.jpg);
}


.text {
	font-size: 95px;
	color: white;
	font-family: arial;
	padding-left: 50px;
	padding-right: 50px; 
	padding-top: 100px;
	padding-bottom: 50px;
	margin: auto;

}
