body {
	background: url(backtree.jpg);

}

header {
	background-color: #505050;
	border-radius: 7px;

}



.logo {
	padding-left: 5px;
	font-size: 24px;

}

.logoname {
	text-decoration: none;

}



.menu {
	text-decoration: none; 
	color: yellow;
	font-size: 20px;
	border: 7px solid #454545;
	border-radius: 7px;
	background-color: #454545;
	

}

.menu:hover {
	background: #353535;
	color: yellow;
	border: 7px solid #353535;
	transition: 0.5s;

}


.otstup1 {
	padding-left: 750px;

}

.block1 {
	background-color: #505050;
	margin-left: 50px;
	padding-left: 8px;
	padding-right: 8px;
	width: 400px;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: top;
	border-radius: 7px;
	margin-top: 50px;
	margin-bottom: 50px;
	
}

.block1 style {
	
}

.block2 {
	background-color: #505050;
	margin-left: 50px;
	padding-left: 8px;
	padding-right: 8px;
	width: 200px;
	padding-top: 8px;
	padding-bottom: 13px;
	vertical-align: top;
	border-radius: 7px;
	margin-top: 50px;
	margin-bottom: 50px;
	

}

.block2 style {
	
	
}

.block3 {
	background-color: #505050;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 8px;
	padding-right: 8px;
	width: 450px;
	padding-top: 8px;
	padding-bottom: 13px;
	vertical-align: top;
	border-radius: 7px;
	margin-top: 50px;
	margin-bottom: 50px;

}

.pokuptext {
	font-size: 15px;
}



.podrobnee {
	text-decoration: none; 
	border: 3px solid #404040;
	background-color: #404040;
	border-radius: 7px;
	color: yellow;
}

.podrobnee:hover {
	background: #303030;
	color: yellow;
	border: 3px solid #303030;
	transition: 0.5s;

}


footer {
	background-color: #505050;
	padding: 8px;
	border-radius: 7px;
}

.foot1 {
	vertical-align: top;
	color: black;

}

.foot2 {
	vertical-align: top;
	padding-left: 25px;
	color: black;
}